body{
    font-family: 'PT Serif', serif;
    margin: 0%;
}
.container{
    display: flex;
    padding-left: 30px;
    padding-top: 100px;
}
.span{
    color: orangered;
    
}
.half-width{
    width: 50%;
    padding-left: 10%;
    margin-bottom: 10px;
}
.half-width img{
    width: 70%;
    padding: 0 20px;
    margin: 20px;
    
}
.btn{
    border: none;
    border-radius: 15px;
    background-color:rgb(216, 89, 38);
    padding: 10px 20px;
    
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

#s-img{
    width: 57%
    
}
.about{
    background-image: url(images/shapes/Frame\ 56.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
}
#half{
    margin-top: 100px;
    padding-right: 10%;
   
}
.recipies{
    width: 800px;
    text-align: center;
    padding-top: 50px;
    padding-left: 270px;
}
.title{
    display: flex;
}
.boxes img{
    width: 100%;
    
}
.boxes{
    border: 1px solid #9da0a0;
    border-radius: 10px;
    box-shadow: 2px 2px 40px rgb(97, 94, 94);
    padding: 10px;
    margin: 30px;
}

.count{
    width: 1200px;
    display: flex;
   
    
}
.section{

    width: 95%;
    margin: 30px;
   text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgb(156, 151, 151);
}
.count-1{
    padding-left: 250px;
}
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
 
 
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  
  


.footer{
    padding-top: 100px;
}
.center{
    text-align: center;
    background-color: #0f0c13;
    height: 300px;
    padding-top: 100px;
    color: white;
}